h6 {
    padding-top: 1em;
    font-weight: 400;
    font-size: 18px;
}

p {
    font-size: 17px;
    line-height: 2.5em;
}


a {
    display: block;
    line-height: 1.5em;
}

ul, .list {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    font-size: 17px;
}



span, .icon-text {
    font-size: 16px;
}

i {
    font-size: 19px;
}


.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    border-bottom: 1px solid #ccc;
    margin-top: 6em;
    margin-bottom: 2em;
    font-weight: 400;
    padding-bottom: 2em;
}
